<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="/static/css/tailwind.css" rel="stylesheet" />
    <script src="/static/js/htmx.js"></script>
  </head>
  <body hx-swap-oob="true">
    <nav class="p-4">
      <div class="flex p-2">
        <a href="/login" class="btn btn-cta ml-auto"
          >Log in <span aria-hidden="true">&rarr;</span></a
        >
      </div>
    </nav>
    <div class="max-w-xl mx-auto">
      {{ template "content" . }}
    </div>
  </body>
</html>
