{{ define "content" }}
  <main class="page-normal">
    <h1>Welcome to the Pleasure-DOM</h1>

    <p>Relax, and see the <a class="link" href="/private">private stuff</a>.</p>
  </main>
{{ end }}

{{ template "default-layout.tmpl" }}
